@using Microsoft.AspNetCore.Identity
@using PSK.Domain.Identity

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-bar-top-btn" title="Manage">Hello @((await UserManager.GetUserAsync(User))?.FullName)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link nav-bar-top-btn">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}