@{
    ViewData["Title"] = "Error";
}

<div class="hero-text">
    <h1 class="text-danger">Oops. Something unexpected happened.</h1>
    <h2 class="text-danger">Another user has updated or deleted the same record that you were updating. Please go back and try again.</h2>
    
    <button class="btn btn-danger" type="button" href="#" onClick="GoBackWithRefresh(); return false;">Return back</button>
</div>

<script>
    function GoBackWithRefresh(event) {
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }
</script>