@model PSK.Domain.Accommodation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Accommodation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address.Id" />
            <input type="hidden" asp-for="Address.Version" />
            <input type="hidden" asp-for="Version" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Appartment name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSpaces" class="control-label">Rooms (total)</label>
                <input asp-for="TotalSpaces" class="form-control" />
                <span asp-validation-for="TotalSpaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HouseNumber" class="control-label">House number</label>
                <input asp-for="Address.HouseNumber" class="form-control" />
                <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Latitude" class="control-label"></label>
                <input asp-for="Address.Latitude" class="form-control" />
                <span asp-validation-for="Address.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Longitude" class="control-label"></label>
                <input asp-for="Address.Longitude" class="form-control" />
                <span asp-validation-for="Address.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Accommodations">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
